<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рынки</title>
    {% load static %}
    <link type="text/css" href="{% static 'darkmode.css' %}" rel="stylesheet" />
</head>
<body>
    <h1>Крипторынки</h1>
     <h2>Обзор:</h2>
	<div class="app">
    <div></div>

	<section class="container">

	  <nav class="tab-nav-wrap">
		  <a href="#tab1"
			 class="tab-nav">Монеты</a>
		  <a href="#tab2"
			 class="tab-nav">Капитализация</a>
		  <a href="#tab3"
			 class="tab-nav">Доминация</a>
	  </nav>

	  <section class="tab-content-wrap">
		<article id="tab1"
				 class="tab-content">

		</article>
		<article id="tab2"
				 class="tab-content">

		</article>
		<article id="tab3"
				 class="tab-content">

		</article>
	  </section>

	</section>

	<div></div>

</div>
</body>
</html>
